.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: white; */
  color: black;
  padding: 10px 0;
}

.navLink {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  position: relative;
  font-weight: bold;
}
.navLink:hover{
  color: red;
}
.btn{
    color: red;
}
.navbar:hover{
  color: red;
}

.underline {
  border-bottom: 2px solid red;
}

.signupBtn {
  background-color: transparent;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px 15px;
  color: red;
}
